<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <meta
    name="theme-color"
    content="#050a09"

    >

    <link
        rel="manifest"
        href="{{ url_for('pwa_manifest') }}"
    >


    <meta
        name="mobile-web-app-capable"
        content="yes"
    >


    <meta
        name="apple-mobile-web-app-capable"
        content="yes"
    >


    <meta
        name="apple-mobile-web-app-status-bar-style"
        content="black-translucent"
    >


    <meta
        name="apple-mobile-web-app-title"
        content="Ojek Pribadi"
    >


    <link
        rel="apple-touch-icon"
        href="{{
            url_for(
                'static',
                filename='icons/apple-touch-icon.png'
            )
        }}"
    >

    <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='icons/icon-192.png') }}"
    >

    <title>
        {% block title %}Ojek Pribadi{% endblock %}
    </title>

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800&display=swap"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/dark-premium.css', v='1') }}"
    >

    {% block head %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script
    src="{{
        url_for(
            'static',
            filename='js/pwa.js'
        )
    }}"
    defer
    ></script>

</body>

</html>